*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.serach-container{
    width: 200px;
    margin: 50px;
}

.serach-container input{
    width: 100%;
    height: 30px;
    padding: 10px;

}

#search-result{
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
}

#search-result li{
    cursor: pointer;
    padding: 10px;
}